@model Restaurant.ViewModels.MasterContactUsInformationViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div class="pagetitle">
      
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a asp-controller="MasterContactUsInformation" asp-action="index">Master ContactUsI nformation</a></li>
           
          <li class="breadcrumb-item active">Create</li>
          
        </ol>
      </nav>
    </div><hr />
<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              
        <form asp-action="Create" enctype="multipart/form-data" class="row mb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-1">
                <label asp-for="MasterContactUsInformationIdesc" class="control-label"></label>
                <input asp-for="MasterContactUsInformationIdesc" class="form-control" />
                <span asp-validation-for="MasterContactUsInformationIdesc" class="text-danger"></span>
            </div>
            
            <div class="row mb-1">
                <label asp-for="MasterContactUsInformationRedirect" class="control-label"></label>
                <input asp-for="MasterContactUsInformationRedirect" class="form-control" />
                <span asp-validation-for="MasterContactUsInformationRedirect" class="text-danger"></span>
            </div>
             <div class="row mb-1">
                <label asp-for="ContactUsImage" class="control-label"></label>
                <input asp-for="ContactUsImage" type="file" class="form-control" />
                <span asp-validation-for="ContactUsImage" class="text-danger"></span>
            </div>
            <div class="row mb-1">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon"  class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
           
           
            <div   style=" direction: rtl" class="form-group">
                <input type="submit" value="Create" class="btn btn-primary rounded-pill" />
                <button asp-action="Index"  class="btn btn-primary rounded-pill" >Back to List</button>
            </div>
        </form>
    </div>
          </div>

        </div>
      </div>
    </section>


